@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBFAF6;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav {
    font-family: "Noto Sans", sans-serif;
    width: min(1920px, 90%);
    margin: 2rem auto; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

nav h1 {
    margin-right: auto;
}

nav button {
    padding: 0.5rem 0.9rem;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}

.section1 {
    /* height: rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    /* border: 2px solid; */
    gap: 2rem;
}

.section1 h1 {
    width: min(1920px, 90%);
    font-size: 5rem;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

.section1 p {
    width: min(55rem, 60%);
    font-size: 1.5rem;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

.section1 button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(53, 174, 183);
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    box-shadow: 1rem 1rem 5rem rgb(46, 179, 189);
    transition: all 1s ease;
}
.section1 button:hover{
    background-color: red;
    box-shadow: 1rem 1rem 5rem rgb(189, 46, 46);

}
.section2{
    /* margin-top: 3rem; */
    background-color: #FFFFFE;
}

.section2 h1{
    font-family: "Noto Sans", sans-serif;
    width: min(1920px, 90%);
    margin: 3rem auto;
    /* background-color: red; */
}
.container {
    font-family: "Noto Sans", sans-serif;
    width: min(1920px, 90%);
    margin: auto;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid; */
    gap: 1rem;
}
.card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    /* border: 2px solid blue; */
}
.card p {
    font-size: 1.5rem;
}
.card img{
    padding: 1rem;
    background-color: #FAF8F4;
    border-radius: 0.5rem;
}

@media only screen and (max-width:1443px){
    .section1 h1{
        font-size: 4rem;
        /* background-color: red; */
    }
    .section1 p {
        font-size: 1rem;
    }
    .card p {
        font-size: 1rem;
    }
}

@media only screen and (max-width:1032px){
    .container{
        flex-direction: column;
        height: 100%;
    }
}

@media only screen and (max-width:760px){
    .section1 h1{
        font-size: 2.5rem;
    }
    .section1 p{
        font-size: 0.8rem;
        width: 90%;
    }
}

@media only screen and (max-width:519px){
    nav ul{
        display: none;
    }
}